<%- include('../includes/head.ejs') %>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            display: flex;            
            justify-content: space-around; 
            align-items: center;
        }
    </style>
    </head>

    <body class="bg-gradient">
        <main>
            <h1 class="text-center text-light">LOGO</h1>
            <section id="login-form">
                <section class="bg-light shadow-lg">
                    <h3 class="text-center heading">Login Here</h3>
                    <div class="text-center">
                        <% if (errorMessage) { %>
                            <div class="alert alert-danger">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                    </div>

                    <form class="container" action="/login" method="POST">
                        <div class="form-group">
                            <label for="email">E-Mail</label>
                            <input type="email" name="email" id="email" value="<%= oldInput.email %>">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="" type="password" name="password" id="password"
                                value="<%= oldInput.password %>">
                        </div>
                        <div class="form-group-inline">
                            <input class="form-check-input" type="checkbox" onclick="togglePass()" value=""
                                id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1"> Show Password </label>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <br>
                        <div class="text-center">
                            <button class="btn-lg btn-primary" type="submit">Login
                                <i class="fas fa-sign-in-alt"></i></button>
                        </div>
                    </form>
                    <br>
                    <div class="text-center">
                        <a href="/reset" class="text-center">Reset Password ?</a>
                        <%if(activationToken){%>
                            <a href="/EmailResend/<%=activationToken%>" class="">Didn't Recieve Email ?</a>
                            <%}%>
                    </div>
                </section>
            </section>
        </main>
        <script src="/js/utility.js"></script>
        </div>