z<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <main class="container">
        <div id="newPasswordForm">
            <h3 class="text-center">Enter The New Password</h3>
            <div class="divider"></div>
            <% if (errorMessage) { %>
            <div class="alert alert-danger"><%= errorMessage %></div>
            <% } %>
            <form action="/new-password" method="POST">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-primary" type="submit">Update Password</button>
            </form>
        </div>

    </main>
    <%- include('../includes/footer.ejs') %>