<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/frontend/css/searchQues.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs')%>
            <main class="">
                <%if(questions.length> 0 ){%>
                    <h4 class="text-center my-3 pt-3">Showing Result For <span class="text-danger font-weight-bolder">"
                            <%=s%>"
                        </span></h4>
                    <section id="feeds" class="container">
                        <div id="interests">
                            <ul>
                                <%for(let i of interest) {%>
                                    <li><a href="<%=i._id%>">
                                            <%=i.category.toUpperCase()%>
                                        </a></li>
                                    <%}%>
                            </ul>
                        </div>

                        <div id="question" class="">
                            <%for (const q of questions){%>
                                <div id="question-block" class="">
                                    <div class="ques">
                                        <a href="<%=q._id%>" class="">
                                            Ques:- <%=q.title%> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Nulla, veritatis?
                                        </a>
                                    </div>
                                    <div id="ques-footer">
                                        <div class="">
                                            Asked on: <span>
                                                <%=q.createdAt%>
                                            </span>
                                        </div>
                                        <ul>
                                            <%for (const i of q.interests){%>
                                                <li><a href="" class="tag">
                                                        <%=i.toUpperCase()%>
                                                    </a></li>
                                                <%}%>
                                        </ul>

                                    </div>

                                </div>
                                <%}%>

                        </div>
                    </section>
                    <%}else{%>
                        <h1 class="container p-3 m-3 text-center">No Searches Found for <span class="text-danger">"
                                <%=s%>"</span></h1>
                        <%}%>
            </main>
            <%- include('../includes/footer.ejs')%>

    </body>

    </html>